@font-face {
  src: url(/assets/Roboto-Bold.ttf);
  font-family: roboto_bolg;
}


:root {
  --background-colour: #121212;
  --text-colour: #ffffff;
  --input-background: #1e1e1e;
  --input-border: #3d3d3d;
  --input-text: #ffffff;
  --input-placeholder: #3d3d3d;
  --toggle-background: #2b2b2b;
  --toggle-thumb: #ffffff;
  --toggle-background-enabled: #3783f5;
  --button-background: #1571fa;
  --button-background-hover: #257cff;
  --error-text: #ff5858;
  --card-bg-black: #000000;
  --card-txt-black: #ffffff;
  --card-wmk-black: #999999;
  --card-glo-black: #ffffff15;
  --card-bg-white: #ffffff;
  --card-txt-white: #000000;
  --card-wmk-white: #868686;
  --card-glo-white: #000000;
  --choice-bg: #1b1b1b;
  --card-group-bg: #2b2b2b;
  --card-glo-group: #00000080;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  z-index: 100;
}
::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
  z-index: 100;
}
::-webkit-scrollbar-corner {
  background: transparent;
  z-index: 100;
}
::-webkit-scrollbar-track {
  background: transparent;
  z-index: 100;
}


body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: roboto_bolg;
  cursor: default;
  text-align: center;
  width: 100vw;
  font-size: 1.25em;
}


br {
  user-select: none;
}

h1 {
  padding: 0px;
  margin: 0px;
  user-select: none;
}

input {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--input-text);
  font-size: 1em;
  border-radius: 10px;
  padding: 0.25em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

input::placeholder {
  color: var(--input-placeholder);
}


.bodypage {
  background-color: var(--background-colour);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
}

.bodypage.active {
  display: block;
}
.roundpage.active {
  display: flex;
}


.loading-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



.loading-wrapper .spin {
  height: 125vh;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 24s;
}

.loading-wrapper .spin2 {
  animation-name: spin2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 24s;
}


.loading-wrapper .flash {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 40s;
}

.toggle {
  height: 1.75em;
  cursor: pointer;
}

.toggle circle,
.toggle rect {
  transition-duration: 250ms;
}

.toggle .thumb {
  fill: var(--toggle-thumb);
  transform: translateX(0px);
}

.toggle.enabled .thumb {
  transform: translateX(1px);
}

.toggle .background {
  fill: var(--toggle-background);
}

.toggle.enabled .background {
  fill: var(--toggle-background-enabled);
}

.toggle-wrapper {
  margin-bottom: 0.5em;
}

.button {
  background-color: var(--button-background);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 250ms;
  user-select: none;
}

.button:hover {
  background-color: var(--button-background-hover);
}

.error-text {
  color: var(--error-text);
  transition-duration: 500ms;
  opacity: 0;
}

.roundpage {
  display: none;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


.black-card-wrapper {

  width: 100vw;
  display: flex;
  justify-content: center;
}

.card {
  width: 12.5rem;
  height: 17rem;
  border-radius: 20px;
  position: relative;
}


.card h2 {
  font-size: 1.1em;
  margin: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  padding-top: 0.75em;
  user-select: none;
  word-wrap: break-word;
}

.card h4 {
  position: absolute;
  user-select: none;
  right: 10px;
  bottom: 10px;
  font-size: 0.6em;
  margin: 0px;
  z-index: 1;
}

.card.black {
  background-color: var(--card-bg-black);
  color: var(--card-txt-black);
  box-shadow: var(--card-glo-black) 0px 0px 10px;
}

.card.black h4 {
  color: var(--card-wmk-black);
}

.card.white {
  background-color: var(--card-bg-white);
  color: var(--card-txt-white);
  box-shadow: none;
}

.card.white h4 {
  color: var(--card-wmk-white);
}

.card.hoverable {
  transition-duration: 250ms;
  cursor: pointer;
  box-shadow: var(--card-glo-white) 0px 0px 0px;
}

.card.hoverable:hover {
  transform: scale(105%, 105%);
  box-shadow: var(--card-glo-white) 0px 0px 10px;
  z-index: 2;
}

.card.active {
  transform: scale(105%, 105%);
}

.card.active:hover {
  box-shadow: var(--card-glo-white) 0px 0px 0px;
  z-index: 0;
}

.buttons {
  width: 100vw;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.buttons .button {
  margin-left: 0px;
  margin-right: 0px;
}

.choice-zone {
  width: calc(100vw - 2.5em);
  margin: 0.5em;
  padding: 0.75em;
  padding-top: 1.25em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--choice-bg);
  border-radius: 20px;
  flex-wrap: wrap;
  overflow-y: scroll;
  min-height: 16rem;
}

.card-group {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  background-color: var(--card-group-bg);
  padding: 1em;
  border-radius: 20px;
  z-index: 1;
}

.card-group.hoverable {
  box-shadow: var(--card-glo-group) 0px 0px 0px;
  cursor: pointer;
  transition-duration: 250ms; 
}

.card-group.hoverable:hover {
  transform: scale(103%, 103%);
  box-shadow: var(--card-glo-group) 0px 0px 10px;
  z-index: 2;
}

.card-group.active {
  transform: scale(103%, 103%);
}

.card-group.active:hover {
  z-index: 0;
}


.username-corner {
  position: fixed;
  margin: 0px;
  right: 15px;
  bottom: 15px;
  pointer-events: none;
  user-select: none;
}

.template, .templates {
  display: none;
}

.show {
  display: block !important;
}

.defaulthide {
  display: none;
}