@font-face {
  src: url(/assets/Roboto-Bold.ttf);
  font-family: roboto_bolg;
}


:root {
  --background-colour: #121212;
  --text-colour: #ffffff;
  --input-background: #232323;
  --input-border: #404040;
  --input-text: #ffffff;
  --input-placeholder: #424242;
  --input-disabled-bg: #181818;
  --input-disabled-border: #363636;
  --input-disabled-placeholder: #2c2c2c;
  --toggle-background: #2b2b2b;
  --toggle-thumb: #ffffff;
  --toggle-background-enabled: #3783f5;
  --button-background: #1571fa;
  --button-background-hover: #257cff;
  --button-background-red: #f82020;
  --button-background-red-hover: #f33030;
  --error-text: #ff5858;
  --card-bg-black: #000000;
  --card-txt-black: #ffffff;
  --card-wmk-black: #999999;
  --card-glo-black: #ffffff15;
  --card-bg-white: #ffffff;
  --card-txt-white: #000000;
  --card-wmk-white: #868686;
  --card-glo-white: #000000;
  --card-act-bg-white: #9dc5ff;
  --card-act-wmk-white: #737373;
  --choice-bg: #1b1b1b;
  --card-group-bg: #2b2b2b;
  --card-glo-group: #00000080;
  --pname-green: #a2ffa2;
  --packlist-bg: #1d1d1d;
  --packlist-bg-hover: #222222;
  --packlist-border: #2b2b2b;
  --card-info-pane-bg: #1b1b1b;
  --card-list-header-black: #161616;
  --card-list-header-white: #2b2b2b;
  --card-entry-hover-bg: #212121;
  --card-entry-active-bg: #242424;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  z-index: 100;
}
::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 5px;
  z-index: 100;
}
::-webkit-scrollbar-corner {
  background: transparent;
  z-index: 100;
}
::-webkit-scrollbar-track {
  background: transparent;
  z-index: 100;
}


body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: roboto_bolg;
  cursor: default;
  text-align: center;
  width: 100vw;
  font-size: 1.25em;
}


br {
  user-select: none;
}

h1 {
  padding: 0px;
  margin: 0px;
  user-select: none;
}

h2 {
  user-select: none;
}

h3 {
  user-select: none;
}

input {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--input-text);
  font-size: 1em;
  border-radius: 10px;
  padding: 0.25em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  transition-duration: 250ms;
}

input::placeholder {
  color: var(--input-placeholder);
  transition-duration: 250ms;
  user-select: none;
}

input:disabled {
  background-color: var(--input-disabled-bg);
  border: 1px solid var(--input-disabled-border);
  cursor: not-allowed;
}

input:disabled::placeholder {
  color: var(--input-disabled-placeholder);
}

.bodypage {
  background-color: var(--background-colour);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
}

.bodypage.active {
  display: block;
}
.roundpage.active {
  display: flex;
}


.loading-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



.loading-wrapper .spin {
  height: 125vh;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 24s;
}

.loading-wrapper .spin2 {
  animation-name: spin2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 24s;
}


.loading-wrapper .flash {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 40s;
}

.toggle {
  height: 1.75em;
  cursor: pointer;
}

.toggle circle,
.toggle rect {
  transition-duration: 250ms;
}

.toggle .thumb {
  fill: var(--toggle-thumb);
  transform: translateX(0px);
}

.toggle.enabled .thumb {
  transform: translateX(1px);
}

.toggle .background {
  fill: var(--toggle-background);
}

.toggle.enabled .background {
  fill: var(--toggle-background-enabled);
}

.toggle-wrapper {
  margin-bottom: 0.5em;
}

.button {
  background-color: var(--button-background);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 250ms;
  user-select: none;
}

.button.red {
  background-color: var(--button-background-red);
}

.button:hover {
  background-color: var(--button-background-hover);
}

.button.red:hover {
  background-color: var(--button-background-red-hover);
}

.error-text {
  color: var(--error-text);
  transition-duration: 500ms;
  opacity: 0;
}

.roundpage {
  display: none;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


.black-card-wrapper {

  width: 100vw;
  display: flex;
  justify-content: center;
}

.card {
  width: 12.5rem;
  height: 17rem;
  border-radius: 20px;
  position: relative;
}


.card h2 {
  font-size: 1.1em;
  margin: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.65em;
  padding-top: 0.75em;
  user-select: none;
  word-wrap: break-word;
}

.card h4 {
  position: absolute;
  user-select: none;
  right: 10px;
  bottom: 10px;
  font-size: 0.6em;
  margin: 0px;
  z-index: 1;
}

.card.black {
  background-color: var(--card-bg-black);
  color: var(--card-txt-black);
  box-shadow: var(--card-glo-black) 0px 0px 10px;
}

.card.black h4 {
  color: var(--card-wmk-black);
}

.card.white {
  background-color: var(--card-bg-white);
  color: var(--card-txt-white);
  box-shadow: none;
  box-sizing: border-box;
}

.card.white h4 {
  color: var(--card-wmk-white);
}

.card.hoverable {
  transition-duration: 250ms;
  cursor: pointer;
  box-shadow: var(--card-glo-white) 0px 0px 0px;
}

.card.hoverable:hover {
  transform: scale(105%, 105%);
  box-shadow: var(--card-glo-white) 0px 0px 10px;
  z-index: 2;
}

.card.active {
  transform: scale(105%, 105%);
  background-color: var(--card-act-bg-white);
  box-shadow: var(--card-glo-white) 0px 0px 10px;
}

.card.active h4 {
  color: var(--card-act-wmk-white);
}

.card.active:hover {
  box-shadow: var(--card-glo-white) 0px 0px 10px;
  z-index: 0;
}

.buttons {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1.15em;
}

.flex-bottom {
  flex-basis: 100%;
}

.flex-end {
  margin-left: auto !important;
}

.buttons p {
  user-select: none;
  margin: 0px;
}

.buttons .button {
  margin: 0px;
  
}

.choice-zone {
  width: calc(100vw - 2.5em);
  margin: 0.5em;
  padding: 0.75em;
  padding-top: 1.25em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--choice-bg);
  border-radius: 20px;
  flex-wrap: wrap;
  overflow-y: scroll;
  min-height: 16rem;
}

.card-group {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  background-color: var(--card-group-bg);
  padding: 1em;
  border-radius: 20px;
  z-index: 1;
}

.card-group.col {
  flex-direction: column;
}

.card-group .card-group {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  padding: 0px;
  border-radius: 0px;
}

.card-group h3 {
  margin-top: -0.25em;
  margin-bottom: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  user-select: none;
}

.card-group.hoverable {
  box-shadow: var(--card-glo-group) 0px 0px 0px;
  cursor: pointer;
  transition-duration: 250ms; 
}

.card-group.hoverable:hover {
  transform: scale(103%, 103%);
  box-shadow: var(--card-glo-group) 0px 0px 10px;
  z-index: 2;
}

.card-group.active {
  transform: scale(103%, 103%);
}

.card-group.active:hover {
  z-index: 0;
}


.username-corner {
  position: fixed;
  margin: 0px;
  right: 15px;
  bottom: 15px;
  pointer-events: none;
  user-select: none;
}

.template, .templates {
  display: none;
}

.show {
  display: block !important;
}

.defaulthide {
  display: none;
}

.plreadytext {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}


.playername {
  transition-duration: 250ms;
  height: min-content;
  margin: 0px;
  user-select: none;
}

.playername.green {
  color: var(--pname-green);
}

.emoji {
  height: 1em;
  user-select: none;
}

.explosion {
  position: absolute;
  top: 1em;
  left: 0.3em;
  transform: scale(1.25);
  user-select: none;
  z-index: 10;
}

.waitpage {
  overflow-x: hidden;
  overflow-y: scroll;
}


.packlist {
  width: calc(100vw - 2em);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  height: 100%;
  background-color: var(--packlist-bg);
  border-radius: 20px;
  overflow-x: hidden;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.pack {
  width: calc(100% - 1em);
  border-bottom: 1px solid var(--packlist-border);
  padding: 0.5em;
  background-color: var(--packlist-bg);
  transition-duration: 250ms;
  margin: 0px;
}

.pack:first-of-type {
  margin-top: 0.5em;
  border-top: 1px solid var(--packlist-border);
}

.pack:hover {
  background-color: var(--packlist-bg-hover);
}

.pack svg {
  height: 1.5em;
}

.pack .button {
  margin: 0px;
  margin-left: auto;
  margin-right: 0.25em;
  font-size: 0.9em;
}

.pack-editor {
  height: 0px;
  flex-grow: 1;
  width: calc(100vw - 2em);
  margin: 1em;
  border-radius: 20px;
  background-color: var(--packlist-bg);
  display: flex;
  position: relative;
}

.card-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}


.card-list .list-header, .card-list .card-entry {
  width: calc(100% - 2.5em);
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--packlist-border);
  padding: 1em;
  margin-left: 0.5em;
  align-items: center;
  transition-duration: 250ms;
}

.card-entry:hover {
  background-color: var(--card-entry-hover-bg);
}

.card-entry:has(+.list-header), .card-entry:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: none;
  margin-bottom: 0.5em;
}

.card-entry.active {
  background-color: var(--card-entry-active-bg);
}

.card-entry h3 {
  pointer-events: none;
}

.card-list .list-header {
  border-radius: 20px;
}

.list-header-sticky {
  position: sticky;
  top: 0px;
}

.header-back-cover {
  background: var(--packlist-bg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(0.5em + 20px);
  border-top-left-radius: 20px;
  z-index: -1;
}

.white .header-back-cover {
  display: none;
}

.card-list .list-header:first-of-type {
  margin-top: 0.5em;
}

.card-list .list-header.black {
  background-color: var(--card-list-header-black);
}

.card-list .list-header.white {
  background-color: var(--card-list-header-white);
}

.card-list h3 {
  margin: 0px;
}

.info-pane {
  background-color: var(--card-info-pane-bg);
  border-left: 1px solid var(--packlist-border);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

.info-pane .section {
  padding: 1em;
  padding-bottom: 2em;
  min-width: 14em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--packlist-border);
}

.info-pane .section:last-of-type {
  border-bottom: none;
}

.rapidfire {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
}

.rapidfire .inside {
  width: 20em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--choice-bg);
  padding: 4em;
  padding-top: 2em;
  border-radius: 20px;
  align-items: center;
}

.rapidfire h2 {
  margin: 0px;
  margin-bottom: 0.5em;
}